/* Global styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e; /* VS Code background */
    color: #d4d4d4; /* Text color in VS Code */
}

header {
    background-color: #000000;
    color: white;
    padding: 20px 10px;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.author-icon {
    color: white;
    position: absolute; /* Positioning */
    right: 20px; /* Adjust right position */
    top: 20px; /* Adjust top position */
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.author-icon:hover {
    color: #bfe2fc;
}

/* back button on author page */
.back-button {
    display: inline-block;
    margin-top: 10px;
    color: white;
    background-color: #007acc;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute; /* Positioning */
    right: 20px; /* Adjust right position */
    top: 2px; /* Adjust top position */
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #005ea2;
}

/* Sidebar styles */
.container {
    display: flex;
    flex-grow: 1; /* Allow main content to take the remaining space */
    transition: margin-left 0.3s; /* Smooth transition for main content */
}

.sidebar {
    background-color: #000000;
    width: 200px;
    height: 100vh;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li {
    color: #d4d4d4;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #37373d;
}

.sidebar.open {
    transform: translateX(-220px);
}

/* Main content styles */
.content {
    margin-left: 220px;
    padding: 20px;
    flex-grow: 1;
    transition: margin-left 0.3s;
}

.content .card {
    background-color: #252526;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

h2 {
    color: #569cd6;
    margin-bottom: 10px;
}

h3 {
    color: #62b0f0;
    margin-bottom: 10px;
}

h4 {
    color: #74b7ee;
    margin-bottom: 10px;
}

pre {
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #3c3c3c;
    overflow-x: auto;
}

pre code {
    color: #93cbff;
}

/* VS Code logo styling */
img {
    display: block;
    margin: auto;
    width: 80%;
}

a {
    color: #b5d2ed;
}


/* Responsive Design */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 200px;
        transform: translateX(-200px);
        position: fixed;
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .content {
        margin-left: 0;
    }
}

/* Footer styles */
footer {
    background-color: #252526;
    color: #d4d4d4;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

